{% extends './base.html' %}

{% block tittle %} GestorStock {% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pedidos.css') }}">
{% endblock %}

{% block body %}

<main>
    <section class="formulario">
       
    
        <form action="#" method="POST" enctype="application/x-www-form-urlencoded"
        class="formulario-de-producto" onsubmit="return validacion();">

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <span class="mensaje1">{{ message }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


        <h1 class="titulo-pedido">Realiza aca tu pedido</h1>
        <label for="nombre">Nombre y Apellido</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre y apellido">
        <label id="mensaje-nombre"></label>

        <label for="correo">Correo</label>
        <input type="email" name="correo" id="correo" placeholder="Ingrese su correo">
        <label id="mensaje-correo"></label>

        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono" placeholder="Ingrese su telefono">
        <label id="mensaje-telefono"></label>

        <label for="proveedor">Seleccione proveedor del producto:</label>
        <select name="proveedor" id="proveedor">
            <option value="">Seleccione una Opcion</option>
            
        </select>
        <label id="mensaje-seleccion-prov"></label>

        <label for="categoria">Seleccione categoria del producto:</label>
        <select name="categoria" id="categoria" onchange="filtrarProductos()">
            <option value="">Seleccione una Opcion</option>
            
        </select>
        <label id="mensaje-seleccion"></label>

        <label for="producto">Seleccione el producto:</label>
        <select name="producto" id="producto">
            <option value="">Seleccione una Opcion</option>
            
        </select>
        <label id="mensaje-seleccion-prod"></label>

        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" min="1">
        <label id="mensaje-cantidad"></label>
    
        <div style="text-align: center;">
            <input id="submit_pedidos" name="submit_pedidos" type="submit" value="Realizar pedido">
        </div>        
        </form>
    </section>
</main>

{% block customJS %}
<script src="{{ url_for('static', filename='js/pedidos.js') }}"></script>
{% endblock %}

{% endblock %}