{% extends './base.html' %}

{% block tittle %} GestorStock {% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/proveedores.css') }}">
{% endblock %}

{% block body %}

<main>

    <section class="formulario">
    
        <form action="#" method="POST" enctype="application/x-www-form-urlencoded" class="formulario-de-producto" onsubmit="return validacion();">
            
            <p style="border: none;margin: 0;padding: 0;"><button class="boton_quitar"><i class="fa-solid fa-xmark"></i></button></p>
            
            <h2 class="titulo-pedido">Agregar Proveedor</h2>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre del producto">
            <label id="mensaje-nombre"></label>

            <label for="telefono">Telefono</label>
            <input type="tel" name="telefono" id="telefono" placeholder="Ingrese su telefono">
            <label id="mensaje-telefono"></label>

            <label for="correo">Correo</label>
            <input type="email" name="correo" id="correo" placeholder="Ingrese su correo">
            <label id="mensaje-correo"></label>

            <input id="submit" name="submit" type="submit" value="Agregar">
            
        </form>
    </section>

    <h1>Proveedores disponibles</h1>
    <div class="boton_agregar"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Agregar Proveedor</div>
   
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <span class="mensaje1">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="cajaprov">
        <div class="table-responsive">
            <table class="cajaprov1">
                <thead >
                    <tr style="font-size: 16px; background-color: #1c1c36;opacity: 80%; color: aliceblue;">
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Acciones</th> 
                    </tr>
                </thead>
                  
                <tbody id="proveedoresContenedor">
            {% if proveedor %}
                {% for prov in proveedor %}
                    <tr>
                        <td>{{ prov.nombre }}</td>
                        <td>{{ prov.telefono }}</td>
                        <td>{{ prov.correo }}</td>
                        <td>
                            <div style="display: flex; justify-content: space-around;">
                                <button type="button" onclick="mostrarFormularioEdicion('{{ prov.id }}', '{{ prov.nombre }}', '{{ prov.telefono }}','{{ prov.correo }}')" style="color:green;background-color:transparent;border:none;padding:0;cursor:pointer;padding-right:10px"><i class="fa-solid fa-pen"></i></button>
                                <form action="{{ url_for('proveedores') }}" method="POST" style="display:inline;">
                                    <input type="hidden" name="delete_id" id="delete_id" value="{{ prov.id }}">
                                    <button type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar esta categoría?');" style="color:rgb(242, 93, 93);background-color:transparent;border:none;padding:0;cursor:pointer;"><i class="fa-solid fa-trash-can " ></i></button>
                                </form>     
                            </div>
                        </td>
                        
                    </tr>
                
                {% endfor %}
            {% else %}
            <p style="margin-top: 4rem;padding:0.5rem; position: absolute; border: rgb(161, 32, 32) 2px solid;">No hay categorias disponibles</p>
            {% endif %}
                </tbody>
            </table>
        </div>

        <div id="formularioEdicion" style="display:none;">

            <form action="{{ url_for('proveedores') }}" method="POST">
                
                <input type="hidden" id="edit_id" name="edit_id">
                <label for="edit_nombre">Nombre:</label>
                <input type="text" id="edit_nombre" name="edit_nombre" placeholder="Nombre de el proveedor">
                <label for="edit_telefono">Telefono</label>
                <input type="text" id="edit_telefono" name="edit_telefono" placeholder="Telefono">
                <label for="edit_correo">Correo</label>
                <input type="text" id="edit_correo" name="edit_correo" placeholder="Correo">
                <button type="submit">Actualizar</button>
                <button type="button" class="btn-cancelar" onclick="ocultarFormularioEdicion()">Cancelar</button>
            </form>
        </div>

    </div>
    
</main>

{% block customJS %}
<script src="{{ url_for('static', filename='js/proveedores.js') }}"></script>
{% endblock %}

{% endblock %}